In [1]:
/#Importing useful libraries

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import kaggle
import zipfile36 as zipfile

In [2]:
#Downloading Dataset zip file using Kaggle Api
!kaggle datasets download -d rajkumarpandey02/human-development-index-and-components

Downloading human-development-index-and-components.zip to C:\Users\Rahul Saxena\Documents\Data_Analysis_Projects\Human Development Index and Components

  0%|          | 0.00/5.21k [00:00<?, ?B/s]
100%|##########| 5.21k/5.21k [00:00<00:00, 1.71MB/s]

In [3]:
#Extracting from zip file
zipfile_name ="human-development-index-and-components.zip"
with zipfile.ZipFile(zipfile_name, "r") as file:
    file.extractall()

In [6]:
df = pd.read_csv("Human Development Index and Components.csv", encoding='latin-1')

In [7]:
df.head()

,HDI rank,Country,HUMAN DEVELOPMENT,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank.1
0,1,Switzerland,VERY HIGH,0.962,84.0,16.5,13.9,"66,933",5,3
1,2,Norway,VERY HIGH,0.961,83.2,18.2,13,"64,660",6,1
2,3,Iceland,VERY HIGH,0.959,82.7,19.2,13.8,"55,782",11,2
3,4,"Hong Kong, China (SAR)",VERY HIGH,0.952,85.5,17.3,12.2,"62,607",6,4
4,5,Australia,VERY HIGH,0.951,84.5,21.1,12.7,"49,238",18,5